html {
  font-family: Merriweather,serif;
}

.launch {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.holiday {
  border: 1px solid #b92828;
  border-radius: 8px;
  background-color: #f2bcbc;
  color: #991919;
}

.escape {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.island {
  border: 1px solid #6b7e54;
  border-radius: 8px;
  background-color: #d1e0bf;
  color: #51603f;
}

.record {
  border: 1px solid #6b7e54;
  border-radius: 8px;
  background-color: #d1e0bf;
  color: #51603f;
}

.rocket {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.death {
  border: 1px solid #1d38da;
  border-radius: 8px;
  background-color: #d2d6f0;
  color: #38448e;
}

.doctor {
  border: 1px solid #1d38da;
  border-radius: 8px;
  background-color: #d2d6f0;
  color: #38448e;
}

.explore {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

td {
  height: 180px;
}

table, th, td {
  border: 1px solid #ccc;
}
