html {
  font-family: Merriweather,serif;
}

.launch {

}

.holiday {

}

.escape {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.island {

}

.record {

}

.rocket {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.death {

}

.doctor {

}

.explore {
  border: 1px solid #333;
  color: #666;
  border-radius: 8px;
  background-color: #f2f2f2;
}

border: 1px solid #333;
color: #666;
border-radius: 8px;
background-color: #38448e;
